{% extends 'store/base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock style %}
{% block title %}
Home
{% endblock title %}

{% block content %}
<div class="container-fluids">
    <img src="{% static 'images/product-2.jpg' %}" alt="" srcset="">
</div>
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto text-center">
            <h1 class="text-uppercase my-4">All Product</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for i in '1234567' %}
        <div class="col-9 mx-auto col-md-6 col-lg-3">
            <div class="card mb-4">
                <img class="p-4" src="{% static 'images/product-1.jpg' %}" alt="" srcset="">
                <div class="card-footer d-flex justify-content-between">
                    <p class="font-weight-bold mb-0">Samsung</p>
                    <h5 class="font-italic mb-0">$ 499</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}